@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
$cream: #F3EDE9;
$titlecream: #AFA798;
$textcream: #938071;
$textblack: #1B1C22;
$opensans: 'Open Sans',
sans-serif;
$rozhaone: 'Rozha One',
serif;